@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger">Acces Interzis</h1>
<p class="text-warning">
    Nu ai permisiunea necesară pentru a accesa această pagină. Te rugăm să contactezi administratorul.
</p>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Înapoi la pagina principală</a>
</div>
